/* STYLING FOR BODY: */
body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

.container {
    flex: 1;
}

/* STYLING FOR NAVBAR: */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* STYLING FOR FOOTER: */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* CUSTOM STYLING FOR CARD: */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* CARD EFFECT / OVERLAY EFFECT: */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* NEW PAGE STYLING: */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* EDIT PAGE STYLING: */
.edit-btn {
    /* background-color: #0d6efd!important; */
    border: none !important;
    color:  #fff !important;
}

/* SHOW PAGE STYLING: */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;

}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.req {
    color: red;
}

/* Map */
#map { 
    height: 400px;
    width: 80vh;
    border-radius: 8px;
}


@media(min-width:781px) and (max-width: 1000px){
    #map {
        height:300px !important;
        width:100%!important;
    }

    .card {
        width: 80% !important;

        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media(min-width:500px) and (max-width:780px){
    #map {
        height:250px !important;
        width:100%!important;
    }

    .card {
        width: 80% !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .edit-btn {
        width: 70px !important;
        
    }
}

@media(max-width:500px){
    #map {
        height: 200px!important;
        width:100%!important;
    }

    .card {
        width:100% !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .edit-btn {
        width: 50px !important;
        
    }

    .navbar {
        position: fixed;
        bottom: 0px;
    }

}




